*{
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --rouge-sang: #b22222;
}

body{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--rouge-sang);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    padding: 1% 3rem;
    background-color: rgb(246, 244, 241);
}

header img {
    height: 90px;
}

header .navigation{
    display:flex;
    gap: 20px;
}


  


  footer {
    margin-top: 4rem;
    padding: 4rem 3rem;
    background-color: #f6f4f1;
    color: var(--rouge-sang);
    text-align: left;
    display: flex;
    text-align: center;
    justify-content: right;
}

footer a {

    text-decoration: none;
    font-size: 14px;
    width: 200px;
}

footer a:hover {
    text-decoration: underline;
}
  
  @media (max-width: 768px) {
    .hero {
      height: auto;
      padding: 40px 20px;
    }
  
    .hero-content h1 {
      font-size: 2rem;
    }
  
    .hero-content p {
      font-size: 1rem;
    }
  
    .hero-button {
      font-size: 1rem;
      padding: 10px 20px;
    }


  }
  
  @media (max-width: 480px) {
    

    header img{
        height: 58px;
        width: 58px;
    }

    header {
        font-size: 12px ;
    }
    .hero-content h1 {
      font-size: 1.5rem;
    }
  
    .hero-content p {
      font-size: 0.9rem;
    }
  
    .hero-button {
      font-size: 0.9rem;
      padding: 8px 16px;
    }
  }
  

